/* a:link, a:visited, a:hover, a:active {
    color: white;
    text-decoration: none;
} */

a {
    color: white;
    text-decoration: none;
}

#navbar {
    display: flex;
    justify-content: left;
    gap: 20px;
    background-color: blue;
    padding: 10px;
}

#count {
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}